# Server
PORT=3001
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=campusqr

# JWT
JWT_SECRET=supersecretkey123
JWT_EXPIRES_IN=24h

# QR Code Encryption
ENCRYPTION_KEY=your_encryption_key_here

# Cloudinary (photo storage)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=612767644614796
CLOUDINARY_API_SECRET=dmdv6tdk4